{% extends 'base.html' %}
{%block title%}Create Account{% endblock %}

{% block content %}

<div class="ui active dimmer" id="loading" hidden>
    <div class="ui large text loader">Loading</div>
  </div>

<div class="container mt-4">


    <div class="col-lg-5 col-md-8 mx-auto ui segment p-4">

        <p class="display-6">Reset Password</p>
        <hr>
        <div class="ui warning message" id="message" {% if not error %} hidden {% endif %}>
            {{error}}
        </div>

       {% if step1 %}
             <form id="step-1" class="ui form" action="/reset-password-verification" method="POST">

            {% csrf_token %}

            <div class="field">
                <label>Email</label>
                <input type="email" name="email" required placeholder="example@gmail.com">
            </div>
            <div class="mt-3">
                <button class="button ui teal btn-block">Send Verification Code</button>
            </div>

        </form>
        <br>
        {% endif %}


 {% if step2 %}
        <form id="step-2" class="ui form" action="/verify-reset-password-code" method="POST">

            {% csrf_token %}

            <div class="field">
                <label>Verification Code</label>
                <input type="number" name="code" required placeholder="999123">
            </div>
            <div class="mt-3">
                <button class="button ui teal btn-block">Verify Code</button>
            </div>

        </form>
        <br>
{% endif %}



{% if step3 %}
        <form id="step-3" class="ui form" action="/reset-password" method="POST">

            {% csrf_token %}

            <div class="field">
                <label>New Password</label>
                <input type="text" name="password" required placeholder="*******">
            </div>
             <div class="field">
                <label>Reenter New Password</label>
                <input type="text" name="repassword" required placeholder="*******">
            </div>
            <div class="mt-3">
                <button class="button ui teal btn-block">Change Password</button>
            </div>

        </form>
        <br>
{% endif %}

    </div>

</div>



{% endblock %}